/* 04.08 Ebook CSS */

.ebook-section{
    position: relative;
    z-index: 9;

    & .shape {
        position: absolute;
        z-index: -1;

        &-1 {
            top: 83px;
            left: 5vw;

            width: 20vw;
            max-width: 20vw;
        }

        &-2 {
            bottom: 55px;
            right: 5vw;
            width: 20vw;
            max-width: 20vw;
        }
    }
}